/* *{
    color: rgb(139, 195, 139);
} */

h1{
    color: rgb(138, 210, 138)
}

h2 {
    color: rgb(96, 96, 209);

}

p {
    color: rgb(72, 182, 233);
}

button {
    background-color: rgb(249, 249, 249);
   
}
button:hover{
    transform: scale(1.1);
}







